h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	border-spacing: 0px;
}
.gwt-TextBox {
	height: 12px;
	width: 120px;
	padding: 3px 1px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3",
		"Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}

/** button */
button {
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	border: 0px solid #dcdcdc;
	padding: 6px 9px;
	text-decoration: none;
	background: -moz-linear-gradient(center top, #ededed 17%, #dfdfdf 88%);
	background: -ms-linear-gradient(top, #ededed 17%, #dfdfdf 88%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #ededed),
		color-stop(88%, #dfdfdf));
	background-color: #ededed;
	color: #777777;
	display: inline-block;
}

}
button:hover {
	background: -moz-linear-gradient(center top, #dfdfdf 17%, #ededed 88%);
	background: -ms-linear-gradient(top, #dfdfdf 17%, #ededed 88%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #dfdfdf),
		color-stop(88%, #ededed));
	background-color: #dfdfdf;
}

button:active {
	position: relative;
	top: 1px;
}
/** Ê^ƒOƒŠƒbƒhƒ‰ƒCƒ“*/
.gridImage:hover {
	border: #e87da0;
	border-bottom-style: solid;
}