h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.gwt-Image:focus {
	outline: none;
}

td:focus {
	outline: none;
}

div:focus {
	outline: none;
}

table {
	border-spacing: 0px;
}

.gwt-TextBox {
	height: 12px;
	width: 120px;
	padding: 3px 1px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: "ƒƒCƒŠƒI", Meiryo, Verdana, Helvetica, "ƒqƒ‰ƒMƒmŠpƒS Pro W3",
		"Hiragino Kaku Gothic Pro", "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}

/** Ê^ƒOƒŠƒbƒhƒ‰ƒCƒ“*/
.gridImage:hover {
	box-shadow: 6px 4px 12px #999999;
}

/** button */
button:hover {
	color: #000000;
	font-weight: bold;
	font-style: italic;
}

button {
	background-color: rgba(0, 0, 0, 0);
	color: #777777;
	border: none;
}