/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** css style for login panel | start   */
.login-banner {
	background-color: #2D2D2D;
	border-bottom: 1px solid #000;
	color: #FFF;
	cursor: auto;
	font: 11px/27px Arial, sans-serif;
	font-weight: cursiv;
	height: 31px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 990;
}

.login-area,.login-area:hover,.login-area:visited {
	border: solid #2D2D2D;
	border-width: 4px;
	font-size: 13pt;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
}
/** panel styles */
.listWidth { width:700px;}
.pageButton {
    height: 25px;
}
.titleLabel {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.countLabel {
    font-weight: bold;
    padding: 5px;
}
/** num of plusone filter button */
button{
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:0px solid #dcdcdc;
	padding:6px 9px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ededed 17%, #dfdfdf 88% );
	background:-ms-linear-gradient( top, #ededed 17%, #dfdfdf 88% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(17%, #ededed), color-stop(88%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;
	display:inline-block;
}button:hover {
	background:-moz-linear-gradient( center top, #dfdfdf 17%, #ededed 88% );
	background:-ms-linear-gradient( top, #dfdfdf 17%, #ededed 88% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(17%, #dfdfdf), color-stop(88%, #ededed) );
	background-color:#dfdfdf;
}button:active {
	position:relative;
	top:1px;
}
.filterButton button{
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
}
.filterLabel {
    padding: 3px 15px;
    text-align: left;
    color: #8C9CD0;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    /* font-weight: bolder; */
    font-size: larger;
}
