<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
    <servlet-name>HostAuthServiceImpl</servlet-name>
    <servlet-class>jp.leopanda.common.server.HostAuthServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostAuthServiceImpl</servlet-name>
    <url-pattern>/gplusanalytics/HostAuthService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GoogleGateServiceImpl</servlet-name>
    <servlet-class>jp.leopanda.gPlusAnalytics.server.GoogleGateServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GoogleGateServiceImpl</servlet-name>
    <url-pattern>/gplusanalytics/GoogleGateService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GPlusAnalytics.html</welcome-file>
  </welcome-file-list>

</web-app>
