.pageButton {
	height: 25px;
}

.titleLabel {
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.dividerLabel {
color: #73807b;
    border-bottom-style: groove;
    border-bottom-color: #f6fffc;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    padding: 2px 2px;
}

.filterLabel {
	padding: 3px 5px;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
}

.filterLogCard {
	padding: 3px 5px;
	color: darkgreen;;
	background-color: beige;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
	border-radius: 6px;
}

.filterDisable {
	padding: 3px 5px;
	background-color: darkgray;
	color: gray;
	border-radius: 6px;
}

.cehckBoxLabel {
	text-align: right;
	font-size: 8px;
	padding: 1px 1px;
	color: #4b4a4a;
	font-style: italic;
}

.detailPopWindow {
	opacity: 0.7;
	background: black;
	font-weight: normal;
	color: white;
	width: 300px;
	height: 100px;
}

.detailPopLine {
	color: white;
	border: white;
	font-weight: bold;
	width: 300px;
	border-bottom-style: ridge;
	opacity: 0.8;
}

.countLabel {
	font-weight: bold;
	padding: 5px;
}

.filterButton {
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
}

.resetButton {
	font-size: 10px;
}

.tableText {
	font-family: "ÉÅÉCÉäÉI", Meiryo, Verdana, Helvetica, "ÉqÉâÉMÉmäpÉS Pro W3",
		"Hiragino Kaku Gothic Pro", "ÇlÇr ÇoÉSÉVÉbÉN", sans-serif;
}

.tablePhoto {
	text-align: center;
}